<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="style/css" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>MY APP</title>
</head>

<body>
    May Node and Express be with you.
<div  class="card" style="width: 20rem;" >
    <ul class="list-group list-group-flush">
        <% for(var i=0; i<quotes.length; i++) {%>
            <li class="list-group-item">
                <span>
                    <%= quotes[i].name %>
                </span>
                <span>
                    <%= quotes[i].quote %>
                </span>
            </li>
            <% } %>
    </ul>
</div>
    <form action="/quotes" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="name" name="name">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="quote" name="quote">
    </div>

    <button type="submit" class="btn btn-primary" >Submit</button>
    
        
    </form>
</body>

</html>